.container {
  display: flex;
}

.container__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding: 1rem;
}

.container__rodape {
  display: flex;
}

@media (min-width: 768px) {
  .container__grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  padding: 1rem;
}

}



@media (min-width: 1440px) {
  .container__grid {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  justify-items: center;
  padding: 1rem;
}

}
