.container {
  display: flex;
}

.container__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  padding: 1rem;
}

.container__rodape {
  display: flex;
}
